/* Reset Styles */
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
    }

/* Global Styles */
    body {
        background-color: var(--white-color);
        color: var(--black-color);
    }

    section {
        display: block;
    }

    .max-width {
        margin: 0 auto; /* This centers the container */
        max-width: 2048px;
    }

/* Global Z-Index */
    :root{
        --z-index-background: -50;
        --z-index-foreground: 0;
        --z-index-overlay: 50;
        --z-index-front: 100;
    }

/* Global Colors, Color Palette */
    :root{
        --main-color: #dbdbdb;
        --white-color: #f5f5f5;
        --gray-color: #82807f;
        --black-color: #18191a;
        --accent-color: #517a5e;
        --accent-color2: #fcb519;
    }

/* Global Textstyle */

    h1 {
        font-family: "Cinzel", serif;
        font-weight: 400;
        font-optical-sizing: auto;
        font-style: normal;
        letter-spacing: 1px;
    }

    h2 {
        font-family: "Cinzel", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        letter-spacing: 1px;
        text-align: center;
        font-style: normal;
    }

    h3 {
        font-family: "Cinzel", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }


    p {
        color: var(--gray-color);
        font-family: "orpheuspro", serif;
        /* font-family: "halyard-display", serif; */
        font-optical-sizing: auto;
        font-weight: 200;
        font-size: 13pt;
        font-style: normal;
        letter-spacing: 1px;
        line-height: 20pt;
    }

    p.clean {
        color: var(--black-color);
        font-family: "halyard-display", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 13pt;
        font-style: normal;
        letter-spacing: 1px;
        line-height: 20pt;
    }

    a.clean {
        color: var(--black-color);
        font-family: "halyard-display", serif;
        text-decoration: none;
        font-weight: 300;
        letter-spacing: 1px;
        font-optical-sizing: auto;
        font-style: normal;
    }

    button {
        font-family: "halyard-display", serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-size: 13pt;
        font-style: normal;
        letter-spacing: 1px;
    }

/* Global Shadows */
    :root{
        --button-shadow: rgba(0, 0, 0, 0.2) 0px 0px 30px;
        --textbox-shadow:rgba(27, 31, 35, 0.04) 0px 2px 0px, rgba(255, 255, 255, 0.25) 0px 2px 0px inset;
    }



/* Global Overlay */
    .sidebar-l, .sidebar-r {
        z-index: var(--z-index-overlay);
        position: fixed;
        top: 33.3vh;
        width: auto;
        height: 33.3vh;
    }

    .sidebar-l {
        left: 0;
        margin-left: 5vw;
    }

    .sidebar-r {
        right: 0;
        margin-right: 5vw;
    }

    .border {
        z-index: var(--z-index-overlay);
        border: solid 2px;
        border-color: var(--accent-color2);
        position: fixed;
        width: 100%;
        height: 100%;
        bottom: 0;
        pointer-events: none;
    }

    .cursor {
        position: relative;
        z-index: 1000;
    }

    .outer {
        position: fixed;
        width: 28px;
        height: 28px;
        background-color: transparent;
        border: 2px solid white; /* Outer border color */
        border-radius: 50%;
        pointer-events: none;
        transform: translate(-50%, -50%);
        transition: width 0.2s ease-out, height 0.2s ease-out, border 0.5s; /* Add transition effect */
        box-sizing: border-box; /* Include border in element's total width and height */
    }

    .outer.active {
        height: 1px;
        width: 1px;
    }

    .inner{
        /*display: none;*/
        position: fixed;
        width: 30px;
        height: 30px;
        opacity: 0;
        border-radius: 50%;
        pointer-events: none;
        transform: translate(-50%, -50%);
        background-image: url('images/Stern_weiss.svg');
        background-position: center;
        background-repeat: no-repeat;
        transition: opacity 0.2s ease-out; /* Add transition effect */
    }

    .inner.active {
        opacity: 0;
    }

    .outer.scroll {
        height: 0px;
        width: 0px;
    }

    .inner.scroll {
        opacity: 1;
    }


/* Navbarcontainer */
    @media(min-width: 801px) {
            nav,
            .handle {
                display: none;
            }

            .header {
                background-color: var(--main-color);
                display: flex;
                justify-content: center;
                align-items: center;
                height: 5vw;
                max-height: 100px;
                min-height: 60px;
            }

            .headercontent {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                max-width: 2048px;
                padding-left: 20px;
                padding-right: 20px;
            }

            .header a{
                color: var(--black-color);
            }


            /* Headerleft */
                .headerleft {
                    display: flex;
                    width: 33.3vw;
                    justify-content: left;
                }

                .headerleft a{
                    margin-right: 20px;
                    font-size: 12pt;
                    position: relative;
                }

                .headerleft a:active{
                    font-weight: 400;
                }

                /* Header-links underline before*/
                .headerleft a::before {
                    background-color: transparent;
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 2px;
                    bottom: 0;
                    transition: width 0.7s ease;
                }
                
                /* Header-links underline after*/
                .headerleft a:hover::before {
                    background-color: var(--black-color);
                    width: 100%; /* Increase width to 100% on hover */
                }

            /* Headermiddle */
                .headermiddle {
                    display: flex;
                    width: 33.3vw;
                    justify-content: center;
                }

                /*Wenn Logo ein Text ist*/
                .headermiddle a{
                    color: var(--black-color);
                    font-size: 17pt;
                }

                /*Wenn Logo ein Bild ist*/
                .headermiddle img{
                    width: 80px;
                    height: auto;
                }

            /* Headerright */
                .headerright {
                    display: flex;
                    width: 33.3vw;
                    justify-content: right;
                }

                .headerright i{
                    font-size: 20pt;
                }
        }

    @media(max-width: 800px) {

            /* Headerleft */
                .headerleft{
                    display: none;
                }

            /* Headerright */
                .headerright {
                    display: none;
                }

            /* Headermiddle */
                .headermiddle {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                /*Wenn Logo ein Text ist*/
                .headermiddle a{
                    color: var(--black-color);
                    font-size: 20pt;
                }

                /*Wenn Logo ein Bild ist*/
                .headermiddle img{
                    width: 100px;
                    height: auto;
                }

                .headermiddle i{
                    font-size: 20pt;
                }

            /* Header */
                .header {
                    z-index: var(--z-index-front);
                    background-color: var(--main-color);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    margin-top: 0;
                    position: fixed;
                    border-bottom: solid 2px;
                    border-color: var(--accent-color2);
                    transition: background-color 0.3s ease;
                }

                .headercontent {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100vw;
                    padding-left: 5vw;
                    padding-right: 5vw;
                    height: 15vw;
                    max-height: 100px;
                    min-height: 60px;
                }

                .header.nav-open{
                    background-color: var(--white-color);
                    border-color: transparent;
                }

                .handle {
                    display: flex;
                    justify-content: right;
                    align-items: center;
                    height: 50px;
                }

                .handle i {
                    color: var(--black-color);
                    font-size: 20pt;
                }

                .header a{
                    display: block;
                    margin-bottom: 0px;
                }

            /* Navbar */
                nav {
                    background-color: var(--white-color);
                    position: fixed;
                    display: none;
                    justify-content: center;
                    height: 100vh;
                    width: 100vw;
                }

                nav ul {
                    display: flex;
                    list-style: none;
                    padding: 0;
                    text-align: center;
                    justify-content: center;
                    overflow: hidden;
                    height: 100vh;
                }

                nav.showing {
                    z-index: var(--z-index-overlay);
                    display: flex;
                    align-items: center;
                }

                nav.showing ul{
                    display:block;
                    height: auto;
                }

                nav ul a{
                    
                    color: var(--black-color);
                    font-family: "halyard-display", serif;
                    font-size: 32pt;
                    text-decoration: none;
                    font-weight: 300;
                    font-optical-sizing: auto;
                    font-style: normal;
                    display: block;
                    position: relative;
                    padding: 20px;
                    letter-spacing: 1px;
                }

                nav ul li a:active{
                    font-weight: 400;
                }
            
                /* Navbar-links underline before*/
                nav ul li a::before {
                    content: ''; /* Empty content */
                    position: absolute; /* Position absolute to overlay over the link */
                    bottom: 0;
                    left: 0;
                    width: 0; /* Initially set width to 0 */
                    height: 2px; /* Height of the underline */
                    bottom: 0; /* Position at the bottom of the link */
                    background-color: transparent; /* Color of the underline */
                    transition: width 0.7s ease; /* Transition for width change */
                }
                
                /* Navbar-links underline after*/
                nav ul li a:hover::before {
                    width: 100%; /* Increase width to 100% on hover */
                    background-color: var(--black-color);
                }

                .navsocial {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                nav ul i {
                    font-size: 35pt;
                    position: fixed;
                    bottom: 10vh;
                }
        }

/* Footer Container*/
    footer {
        z-index: var(--z-index-foreground);
        background-color: var(--main-color);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        text-align: center;
        color: var(--black-color);
    }


    .footermiddle {
        padding: 50px;
    }

    footer i {
        color: var(--black-color);
        font-size: 20pt;
    }

/* Scrollup Container */
    .scrollupbutton {
        z-index: var(--z-index-foreground);
        background-color: var(--black-color);
        color: var(--white-color);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 34pt;
        border: transparent;
        position: relative;
        width: 100%;        
    }

    .scrollupbutton::before{
        z-index: var(--z-index-background);
        background-color: var(--gray-color);
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .scrollupbutton:hover::before {
        height: 100%;
    }



/* Start Container */

    .start-button {
        background-color: var(--white-color);
        color: var(--gray-color);
        margin-top: 5vh;
        border-radius: 40px;
        padding: 30px 40px;
        border: none;
    }

    .start-button:hover {
        background-color: var(--black-color);
        color: var(--white-color);
    }

    .startcontainer h1 {
        color: var(--white-color);
        font-size: 28pt;
        font-weight: 200;
    }

    @media(min-width: 801px) {
        .startcontainer {
            z-index: var(--z-index-foreground);
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            height: calc(75vh - 5vw - 4px);
            max-height: calc(75vh - 60px - 4px);
            min-height: calc(75vh - 100px - 4px);
            background-image: url(images/Cover_leer.png);
            background-size: cover; /* Cover the entire section */
            background-position: center; /* Center the image */
            background-attachment: fixed;
        }

        .startcontainer div {
            display: block;
            text-align: center;
            margin-bottom: 60px;
        }
    }

    @media(max-width: 800px) {
        .startcontainer {
            z-index: var(--z-index-foreground);
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            height: calc(100vh - 4px);
            background-image: url(images/Cover_leer.png);
            background-size: cover; /* Cover the entire section */
            background-position: center; /* Center the image */
            background-attachment: fixed;
        }

        .startcontainer div {
            display: block;
            text-align: center;
        }
    }

/* Info Container */

    @media(min-width: 801px) {

        .infocontainer {
            background-color: var(--white-color);
            display: block;
            padding: 7vw 0;
        }

        .infotitle {
            padding-bottom: 5vw;
            color: var(--gray-color);
        }

        .infotext {
            color: var(--gray-color);
            display: flex;
            text-align: left;
            margin-right: 10vw;
            margin-left: 10vw;
            justify-content: space-evenly;
            align-items: center;
        }

        .infotext div {
            box-shadow: var(--textbox-shadow);
            padding: 20px;
            margin: 0 3vw;
        }
    }

    @media(max-width: 800px) {

        .infocontainer {
            background-color: var(--white-color);
            display: block;
            padding: 10vw 0 calc(10vw - 70px) 0;
        }

        .infotitle {
            padding-bottom: 50px;
            color: var(--gray-color);
        }

        .infotext {
            color: var(--gray-color);
            display: block;
            text-align: left;
        }

        .infotext div {
            margin-right: auto;
            margin-left: auto;
            box-shadow: var(--textbox-shadow);
            padding: 50px;
            margin-bottom: 70px;
        }
    }

/* Brand Container */
    @media(min-width: 801px) { 
        .brandcontainer {
            background-color: var(--black-color);
            display: block;
        }

        .brandimg {
            height: calc(50vh - 5vw - 4px);
            max-height: calc(50vh - 60px - 4px);
            min-height: calc(50vh - 100px - 4px);
            background-image: url(images/Misteln_details/_2640251.png);
            background-size: cover; /* Cover the entire section */
            background-position: center; /* Center the image */
        }

        .brandtextcontainer {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .brandtext {
            display: block;
            padding: 5vw 20px;
            margin-right: 10vw;
            margin-left: 10vw;
            max-width: 1000px;
        }

        .brandcontainer p, h2 {
            color: var(--white-color);
        }

        .brandcontainer p {

        }

        .brandcontainer h2 {
            padding-bottom: 5vw;
        }

        .brandarraycontainercenter{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .brandarraycontainer {
            display: block;
            margin-bottom: 50px;
        }

        .brandarray {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 1000px;
            margin-bottom: 60px;
        }

        .brandimgtext {
            display: flex;
            width: 50%;
            height: 30vh;
            padding: 30px;
        }

        .brandimg1 {
            margin: 0 20px 20px 20px;
            display: flex;
            z-index: var(--z-index-foreground);
            width: calc(500px - 40px);
            overflow: hidden;
            width: calc(500px - 40px);
            height: 20vh;
            min-height: 500px;
            background-image: url(images/Arbeitsplatz/_2640186.png);
            background-size: cover; /* Bild proportional skalieren, um vollständig im Container angezeigt zu werden */
            background-repeat: no-repeat; /* Bildwiederholung ausschalten */
            background-position: center; /* Bild zentrieren */
        }

        .brandimg2 {
            margin: 0 20px 20px 20px;
            display: flex;
            z-index: var(--z-index-foreground);
            width: calc(500px - 40px);
            overflow: hidden;
            width: calc(500px - 40px);
            height: 20vh;
            min-height: 500px;
            background-image: url(images/Arbeitsplatz/_2640192.png);
            background-size: cover; /* Bild proportional skalieren, um vollständig im Container angezeigt zu werden */
            background-repeat: no-repeat; /* Bildwiederholung ausschalten */
            background-position: center; /* Bild zentrieren */
            order: +1;
        }

        .brandimg3 {
            margin: 0 20px 20px 20px;
            display: flex;
            z-index: var(--z-index-foreground);
            width: calc(500px - 40px);
            overflow: hidden;
            width: calc(500px - 40px);
            height: 20vh;
            min-height: 500px;
            background-image: url(images/Misteln/9_g.png);
            background-size: cover; /* Bild proportional skalieren, um vollständig im Container angezeigt zu werden */
            background-repeat: no-repeat; /* Bildwiederholung ausschalten */
            background-position: center; /* Bild zentrieren */
        }
    }
    @media(max-width: 801px) {
        .brandcontainer {
            background-color: var(--black-color);
            display: block;
        }

        .brandimg {
            height: calc(100vh - 5vw - 4px);
            max-height: calc(100vh - 60px - 4px);
            min-height: calc(100vh - 100px - 4px);
            background-image: url(images/Misteln_details/_2640251.png);
            background-size: cover; /* Cover the entire section */
            background-position: center; /* Center the image */
        }

        .brandtextcontainer {
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(100vh - 5vw - 4px);
            max-height: calc(100vh - 60px - 4px);
            min-height: calc(100vh - 100px - 4px);
        }

        .brandtext {
            display: block;
            padding: 10vw 0;
            margin-right: 15vw;
            margin-left: 15vw;
        }

        .brandcontainer p, h2 {
            color: var(--white-color);
        }

        .brandcontainer p {

        }

        .brandcontainer h2 {
            padding-bottom: 10vw;
        }

        .brandarraycontainercenter{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .brandarraycontainer {
            display: block;
            margin-bottom: 50px;
        }

        .brandarray {
            display: block;
        }

        .brandimgtext {
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(50vh - 5vw - 4px);
            max-height: calc(50vh - 60px - 4px);
            min-height: calc(50vh - 100px - 4px);
            margin-right: 15vw;
            margin-left: 15vw;
        }

        .brandimg1 {
            display: flex;
            z-index: var(--z-index-foreground);
            overflow: hidden;
            height: calc(70vh - 5vw - 4px);
            max-height: calc(70vh - 60px - 4px);
            min-height: calc(70vh - 100px - 4px);
            background-image: url(images/Arbeitsplatz/_2640186.png);
            background-size: cover; /* Bild proportional skalieren, um vollständig im Container angezeigt zu werden */
            background-repeat: no-repeat; /* Bildwiederholung ausschalten */
            background-position: center; /* Bild zentrieren */
        }

        .brandimg2 {
            display: flex;
            z-index: var(--z-index-foreground);
            overflow: hidden;
            height: calc(50vh - 5vw - 4px);
            max-height: calc(50vh - 60px - 4px);
            min-height: calc(50vh - 100px - 4px);
            background-image: url(images/Arbeitsplatz/_2640192.png);
            background-size: cover; /* Bild proportional skalieren, um vollständig im Container angezeigt zu werden */
            background-repeat: no-repeat; /* Bildwiederholung ausschalten */
            background-position: center; /* Bild zentrieren */
            background-attachment: fixed;
        }

        .brandimg3 {
            display: flex;
            z-index: var(--z-index-foreground);
            overflow: hidden;
            height: calc(50vh - 5vw - 4px);
            max-height: calc(50vh - 60px - 4px);
            min-height: calc(50vh - 100px - 4px);
            background-image: url(images/Misteln/9_g.png);
            background-size: cover; /* Bild proportional skalieren, um vollständig im Container angezeigt zu werden */
            background-repeat: no-repeat; /* Bildwiederholung ausschalten */
            background-position: center; /* Bild zentrieren */
        }
    }

/* Slideshow Container */

    /*

    .slideshowcontainer {
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(100vh - 4px);
            max-height: calc(100vh - 4px);
            min-height: calc(100vh - 4px);
    }
    .slideshowimg {
        height: 33.3vh;
        display: flex;
        position: relative;
    }

    .slideshowbackground {
        position: absolute;
        height: 33.3vh;
        top: 0;
        left: 0;
    }

    .slideshowmistel {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(33.3vh/2);
    }

    */

/* About Container */
    @media(min-width: 801px) {    
            .aboutcontainer {
                background-color: var(--white-color);
                align-items: center;
                justify-content: center;
                display: flex;
            }

            .aboutcontent {
                background-color: var(--white-color);
                z-index: var(--z-index-foreground);
                display: flex;
                justify-content: space-between;
                max-width: 1700px;
                position: relative;
            }

            .abouttxt {
                display: flex;
                z-index: var(--z-index-foreground);
                padding: 0 100px;
                max-width: 50%;
                align-items: center;
                text-align: center;
                /* overflow: auto; */
            }

            .abouttxt h1 {
                color: var(--accent-color);
                font-size: 40pt;
            }

            .abouttxt p {
                font-weight: 300;
                font-size: 16px;
            }

            /*
            .abouttxt div {
                height: calc(100vh - 5vw - 4px);
            }
            */

            .aboutimg {
                display: relative;
                z-index: var(--z-index-foreground);
                width: 50%;
                overflow: hidden;
                min-width: 50%;
                height: calc(100vh - 5vw - 4px);
                max-height: calc(100vh - 60px - 4px);
                min-height: calc(1100px);
                background-image: url(images/Portrait.png);
                background-size: cover; /* Bild proportional skalieren, um vollständig im Container angezeigt zu werden */
                background-repeat: no-repeat; /* Bildwiederholung ausschalten */
                background-position: top; /* Bild zentrieren */
            }
    }

    @media(max-width: 801px) {
            .aboutcontainer {
                background-color: var(--white-color);
                align-items: center;
                justify-content: center;
                display: flex;
            }

            .aboutcontent {
                background-color: var(--white-color);
                z-index: var(--z-index-foreground);
                display: block;
            }

            .abouttxt {
                display: flex;
                align-items: center;
                transform: translateY(+4vh);
                z-index: var(--z-index-foreground);
                min-height: calc(100vh - 4px);
            }

            .abouttxt h1 {
                color: var(--accent-color);
                font-weight: 500;
                text-align: center;
            }

            .abouttxt p {
                color: var(--gray-color);
                text-align: left;
            }

            .abouttxt div {
                display: block;
                padding: 0px 0;
                margin-right: 15vw;
                margin-left: 15vw;
            }

            .aboutimg {
                display: relative;
                z-index: var(--z-index-foreground);
                overflow: hidden;
                height: calc(100vh - 4px);
                background-image: url(images/Portrait.png);
                background-size: cover; /* Bild proportional skalieren, um vollständig im Container angezeigt zu werden */
                background-repeat: no-repeat; /* Bildwiederholung ausschalten */
                background-position: top; /* Bild zentrieren */
            }
    }

/* Gallery Container */
    @media(min-width: 801px) {    
            .gallerycontainer {
                background-color: var(--white-color);
                align-items: center;
                justify-content: center;
                display: flex;
            }

            .gallerycontent {
                background-color: var(--white-color);
                z-index: var(--z-index-foreground);
                display: flex;
                justify-content: space-between;
                width: 1800px;
                position: relative;
            }

            .gallerytxt {
                display: flex;
                z-index: var(--z-index-foreground);
                padding: 0 100px;
                align-items: center;
                text-align: center;
                /* overflow: auto; */
            }

            .gallerytxt h1 {
                color: var(--accent-color);
                font-size: 40pt;
            }

            .gallerytxt p {
                font-weight: 300;
                font-size: 16px;
            }

            /*
            .abouttxt div {
                height: calc(100vh - 5vw - 4px);
            }
            */

            .galleryimg {
                display: relative;
                z-index: var(--z-index-foreground);
                width: 65%;
                overflow: hidden;
                min-width: 65%;
                height: calc(100vh - 5vw - 4px);
                max-height: calc(100vh - 60px - 4px);
                min-height: calc(1100px);
                background-image: url(images/Misteln/3n_g.png);
                background-size: cover; /* Bild proportional skalieren, um vollständig im Container angezeigt zu werden */
                background-repeat: no-repeat; /* Bildwiederholung ausschalten */
                background-position: center; /* Bild zentrieren */
            }
    }

    @media(max-width: 801px) {
            .gallerycontainer {
                background-color: var(--white-color);
                align-items: center;
                justify-content: center;
                display: flex;
            }

            .gallerycontent {
                background-color: var(--white-color);
                z-index: var(--z-index-foreground);
                display: block;
            }

            .gallerytxt {
                display: flex;
                align-items: center;
                transform: translateY(+4vh);
                z-index: var(--z-index-foreground);
                min-height: calc(100vh - 4px);
            }

            .gallerytxt h1 {
                color: var(--accent-color);
                font-weight: 500;
                text-align: center;
            }

            .gallerytxt p {
                color: var(--gray-color);
                text-align: left;
            }

            .gallerytxt div {
                display: block;
                padding: 0px 0;
                margin-right: 15vw;
                margin-left: 15vw;
            }

            .galleryimg {
                display: relative;
                z-index: var(--z-index-foreground);
                overflow: hidden;
                height: calc(100vh - 4px);
                background-image: url(images/Portrait.png);
                background-size: cover; /* Bild proportional skalieren, um vollständig im Container angezeigt zu werden */
                background-repeat: no-repeat; /* Bildwiederholung ausschalten */
                background-position: top; /* Bild zentrieren */
            }
    }

/*
background-image: url(images/Misteln/8m_g.png);
background-image: url(images/Misteln/9_g.png);
background-image: url(images/Misteln/2_g.png);
*/




.slideshow-container {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  height: 33vh;
}

.slideshow {
  display: flex;
}

.slides {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

.slides img {
  max-width: 100%;
  max-height: 100%;
  height: 33vh;
  margin: 0 50px;
}


